aiogram==2.23.2
aiohttp==3.8.3
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
Babel==2.9.1
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
Django==4.1.2
django-dump-load-utf8==0.0.4
django-extensions==3.2.1
et-xmlfile==1.1.0
frozenlist==1.3.1
grpcio==1.51.1
idna==3.4
jdcal==1.4.1
lxml==4.9.1
magic-filter==1.0.9
multi-key-dict==2.0.3
multidict==6.0.2
openpyexcel==2.5.14
pi==0.1.2
prettytable==3.5.0
protobuf==3.20.3
pydantic==1.10.2
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.5
six==1.16.0
sqlparse==0.4.3
tinkoff==0.1.1
tinkoff-investments==0.2.0b44
typing_extensions==4.4.0
tzdata==2022.5
wcwidth==0.2.5
yarl==1.8.1
